
@media (max-width: 768px) {
  #body-1{
    background: linear-gradient(150deg, rgba(88,79,233,1) 0%, rgba(192,89,236,0.5242471988795518) 40%, rgba(71,141,224,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
  }
  .header{
    display: flex;
    flex-direction: column;
    font-size: 30%;
    text-align: center;
  }
  .div__parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    margin-top: 60px;
  }
  .div__redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    align-content: center;
  }
  .redes__style{
    display: flex;
    justify-content: space-around;
   
  }
  .consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -45px;
    
  }
  .menu{
    display: none;
  }
 #navBar{
    display: flex;
    border-radius: 10px;
 }
 .section{
    display: flex;
    flex-direction: column;
  
 }
 .section .table{
    width: 30%;
    align-items: center;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ;
    align-self: center;
   background: linear-gradient(120deg, #4568dccb 0%, #b16ab3bb 70%);
  }
  .div__redes{
    width: 200px; 
    justify-content: center;
    text-align: center;
    
         
  }
  .redes__style{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
  }
  .consultas{
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none; 
    text-align: center
  
  }
  .redes__style a img{
    margin-top: 30px;
    width: 20px;
  
  }

  .box-fila{
    display: flex;
    flex-direction: column;
    
    }  
    .divContacto{
      display: flex;
      flex-direction: column;
      background: radial-gradient(#c6ffdd 50%, #fbd786, #f7797d);
      width: 90%;
      height: 380px;
      margin: 60px ;
      
    }
    .ccform {
      width: 500px;
      
     }
    
   .card{
    width: 30% ;
    margin: 20px;
   }

   .grid1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:larger;
    letter-spacing: 1px;
    
  }
  .grid1:hover{
    transform: scale(1.5,1.5);
  }
   .grid3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    margin-right: 30px;
    line-height: 35px;
  }
   .grid3:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
  }
  .box-fila{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .columnas{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: auto;
    margin: 10px;
  }
  #footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .footer__datos{
    display: flex;
    width: 100%;
    flex-direction:row;
    list-style: none;
    justify-content: space-between;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }






}