




 /* .credit {
  color:#fff;
  width: 800px;
  clear:both;
 margin:0 auto;
  line-height:25px;
  padding: 25px 50px; 
 }
 .credit em{
  margin-right:5px;
 }
 .credit a {
  color: #0d2ed5;
  font-weight: bold;
 text-decoration: none;
 } */







