*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navBar{
  display: none;
}

#divGrid{
  display: grid;
  gap: 10px;
  margin-top: 30px;
  margin-right: 5px;
  margin-bottom: 30px;
  justify-items:center;
  align-items: center;
  grid-template-areas: 
  "datos datos datos" 
  "img img img"
  "pilares pilares pilares"
  
}

.grid1{
  grid-area: datos;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 3px;
  
}
.grid1:hover{
  transform: scale(1.5,1.5);
}
.grid2{
  grid-area: img;
  align-self: center;
  
}

.grid3{
  grid-area: pilares;
  justify-self: center;
  text-align: center;
  line-height: 40px;
}
.grid3:hover{
  transform: scale(1.5,1.5);
  cursor: pointer;
}
.grid3 ul li h3{
  font-size:x-large
}
.grid3 ul li{
  list-style: none;
  font-family: 'Mukta', sans-serif;
  font-size:medium;
  font-weight: bold; 
}

#footer{
  display: flex;
  
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 5px;
  width: 100%;
  
}
.footer__datos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.footer__datos ul{
  list-style: none;
  padding: 10px;

}

.flexContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  list-style: none;
  font-family: 'Mukta', sans-serif;
}
.containerInstal{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: 'Mukta', sans-serif;
}

.admision{
  padding-top:15px; ;
  padding-right: 15px ;
  padding-bottom: 5px ;
  padding-left:15px ;
}

.admision li h3{
  text-align: center; 
}

.consultorio{
  padding-top:5px; ;
  padding-right: 15px ;
  padding-bottom: 5px ;
  padding-left:15px ;
    
}
.consultorio li h3{
  text-align: center;
}
.sala{
  padding-top:5px; ;
  padding-right: 15px ;
  padding-bottom: 15px ;
  padding-left:15px ;
}

.sala li h3{
  text-align: center;
}

.columnas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 30px; 
}
.box-fila{
display: flex;
flex-direction: row;

}  
.parrafos{
  width: 500px;
  text-align:justify;
  align-self: center;
  margin-bottom: 80px;
  padding: 10px 10px;
  border-style:solid;
  border-color: rgba(245, 207, 135, 0.425);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  background-color: rgba(245, 207, 135, 0.425);
}

.img3{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.divContacto{
  display: flex;
  flex-direction: column;
  background: radial-gradient(#c6ffdd 50%, #fbd786, #f7797d);
  width: 28rem;
  height: 380px;
  margin: 60px ;
  
}
.ccform {
  margin: 0 auto;
  width: 50rem;
  
 }
 .classForm{
  margin-bottom:10px;
  width:50%;
  
 }
 
 .formSpan{
  color:#e3ec66; 
  float:left;
  padding:8px;
  width:8%;
  background:#d6ec0ad2;
  text-align:center;  
 }
 
 .inputField {
  color:#000000; 
  background:#f7f7f7fa;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
 }
 
 .inputField {
  font-family: 'Lato',Arial,sans-serif;
 }
 .ccbtn{
  display:block;
  border:none;
  background:#d6ec0ad2;
  color:#FFFFFF;
  padding:12px 25px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
  margin-left: 35px;
  
 }
 .ccbtn:hover{
  background:#f3f0eb;
  color: #7184e6;
 
 }
 .credit {
  color:#fff;
  width: 800px;
  clear:both;
 margin:0 auto;
  line-height:25px;
  padding: 25px 50px; 
 }
 .credit em{
  margin-right:5px;
 }
 .credit a {
  color: #0d2ed5;
  font-weight: bold;
 text-decoration: none;
 }

#articleForm{
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 30px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}
form legend h3{
color:#000000
}

.divNombre{
  background-color: #e64040;
  display: flex;
  flex-direction: column;
}
.divCobertura{
  background-color:#F94892 ;
  display: flex;
  flex-direction: column;
}
.divEdad{
  background-color:#FF7F3F ;
  display: flex;
  flex-direction: column;
}
.divDia{
  background-color:#FBDF07 ;
  display: flex;
  flex-direction: column;
}
.divHora{
  background-color:#89CFFD ; 
  display: flex;
  flex-direction: column;
}

