.containerInstal{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: 'Mukta', sans-serif;
  .admision{
    padding-top:15px; ;
    padding-right: 15px ;
    padding-bottom: 5px ;
    padding-left:15px ;
    li {
      h3{
        text-align: center; 
      }
    }
  }
  .consultorio{
    padding-top:5px; ;
    padding-right: 15px ;
    padding-bottom: 5px ;
    padding-left:15px ;
    li{
      h3{
        text-align: center;
      } 
    }
      
  }
  .sala{
    padding-top:5px; ;
    padding-right: 15px ;
    padding-bottom: 15px ;
    padding-left:15px ;
    li {
      h3{
        text-align: center;
      }
    }
  }
  
  
  
}