.section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  margin-right: 5px;
  margin-bottom: 40px;
  margin-left: 5px;
  .table__img{
    img{
      width: 250px;
      border-radius: 10%;
      padding-left: 10px;
      align-self: center;
  
    }
  }
  .table{
    width: 60%;
    align-items: center;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    align-self: center;
    font-weight: bold;
    background: linear-gradient(rgba(7,7,7,0.70), rgba(7,1,14,0.70));
      th{
        border-width: 3px;
        border-radius: 5px;
        text-align: center;
        
      }
      td{
        border-width: 3px;
        border-radius: 5px;
        text-align: center;
      }
  
  }
}
