

#body-1{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  background: linear-gradient(100deg, rgba(88,79,233,1), rgba(211, 118, 191, 0.527), rgba(79, 144, 224, 0.651)), url("../assets/img/bebe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
    
  .header{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      .header__titulo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
      }
      .div .img{
        width: 10rem;
        border-radius: 10px;
        margin: 1rem;
      }
    }
  .menu{
    width: 40rem ;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-self: center; 
    .menu__lista{
      li{
      list-style: none;
      display: inline;
      padding: 10px;
      &:hover{
        background: linear-gradient(to right, #ff512f, #f09819);
      }
      a{
        color: black;
        font-family:'Mukta', sans-serif;
        font-size: large;
        text-decoration: none;
        &:hover{
        color: whitesmoke;
        text-decoration:solid;
        }
      }
    } 
    } 
    
  }
  .div__parrafo{
    font-family: 'Mukta', sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height: 2fr;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

    div{
      p{
      text-align: center;
      width: auto;
    } ;
    }
    .div__redes{
      width: 250px; 
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 10px;
      padding-left: 50px;
      .redes__style{
        list-style: none;
        text-align: center;
        padding: 10px;
        a{
          img{
            width: 40%;
          }
        }
      }
      .consultas{
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        padding: 10px;
        list-style: none; 
        text-align: center;
        li{
          a{
            color: black;   
            text-decoration: none;
          }
        }
      }
    }
  }
  .section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-left: 5px;
    .table__img{
      img{
        width: 250px;
        border-radius: 10%;
        padding-left: 10px;
        align-self: center;
    
      }
    }
    .table{
      width: 60rem;
      align-items: center;
      margin-top: 5px;
      color: rgb(7, 1, 14);
      font-weight:bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ;
      align-self: center;
      background: linear-gradient(120deg, #4568dccb 0%, #b16ab3bb 70%);
        th{
          border-width: 3px;
          border-radius: 5px;
          width: 200px;
          text-align: center;
        }
        td{
          border-width: 3px;
          border-radius: 5px;
          text-align: center;
        }
    
    }
  }
  
  #footer{
    margin-top: 50px;
    .footer__datos{
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      font-style: italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }
}